
body{
  background-image: url(./image/반반.gif);
  font-family: 'Dokdo', cursive;
font-family: 'Jua', sans-serif;
}
header a{
  text-decoration: none;
}
header p{
  text-align: center;
  color: white;
  font-size: 30px;
  
  margin-top: 200px;

}
.pic{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background-image: url(./image/반반.gif);
 
  

}

footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

footer a{
  text-decoration:none;
  color: aliceblue;
}